<%= javascript_include_tag "rain" %>
<%= javascript_include_tag "main" %>



<div id="indexPage"></div>
<div id="text">Rain <span>or Shine</span></div>
<div id="subText"><strong>A Simple Weather App</strong></div>

<%= image_tag "r-s2.jpg", :class => "indexPage" %>




<div class="rain"></div>

<div class="pulse"></div>

<div class="sun">
  <div class="ray_box">
      <div class="ray ray1"></div>
      <div class="ray ray2"></div>
      <div class="ray ray3"></div>
      <div class="ray ray4"></div>
      <div class="ray ray5"></div>
      <div class="ray ray6"></div>
      <div class="ray ray7"></div>
      <div class="ray ray8"></div>
      <div class="ray ray9"></div>
      <div class="ray ray10"></div>
  </div>
</div>
<%= button_tag "Start", :class => "frontButton"  %>

