<%= javascript_include_tag "main" %>

<div id="blackMain"></div>
<div id="textMain">Rain <span>or Shine</span></div>
<div id="subTextMain"><strong>Weather-based What-to-Wear Advisor</strong><br>
 
	    <%= @weather["current_observation"]["temp_f"]%> °F at the moment.

</div>

<!-- <div id="locationText">Tell us where you are located</div>

<form class="searchform cf">
  <input type="text" placeholder="City,State - or - City,Country">
  <button type="submit">Search</button>
</form> -->

 
    
 


